streamlit>=1.28.2
langchain>=0.0.335
pandas>=2.0.0
faiss-cpu>=1.7.4
sentence-transformers>=2.2.2
huggingface-hub>=0.17.3
python-dotenv>=1.0.0
torch>=2.0.0
transformers>=4.35.0
typing-inspect>=0.8.0
typing_extensions>=4.5.0
pydantic>=2.0.0
numpy>=1.24.0
